body {
    background-color: whitesmoke;
}
.container {
    background-color: #676969;
    max-width: 300px;
    color: #fff;
    padding: 20px;;
}

.text {

}
.price {

}
.color.true {
    color: red;
}

footer {
    position: fixed;
    bottom: 0 ;
    background-color: yellow;
    color: red;
}

.catalog.block.search .catalog_block .catalog_item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}